<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Peppermint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B17B3D2A1BB6898C009B8BC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B17B3D431BB6898C009B8BC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0AC06E81C4805FD00F9CF6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0AC06F41C4805FF00F9CF6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
